<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ops_title" data-view="Text" data-title="Operations" data-moreinfo="Team Awesome"</div>
    </li> 

    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-title="time" data-moreinfo="stuff"</div>
    </li>    


  	<li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="primary-name" data-view="Text" data-title="Primary Oncall" data-moreinfo="Fix all the incidents!"</div>
    </li>    

    <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="backup-name" data-view="Text" data-title="Backup Oncall" data-moreinfo="No srsly fix 'em!"></div>
    </li>

     <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="all-triggered" data-view="Hotness" data-title="Triggered Incidents" data-cool="0" data-warm="2"></div>
    </li>    

    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="all-acknowledged" data-view="Hotness" data-title="Acknowledged Incidents" data-cool="0" data-warm="2"></div>
    </li>

    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="daily_incidents" data-view="Meter" data-title="PagerDuty Daily Incidents" data-cool="5" data-warm="15"></div>
    </li>

     <li data-row="2" data-col="4" data-sizex="3" data-sizey="1">
      <div data-id="assigned_to" data-view="Incident" data-title="Most Recent Incident:"></div>
    </li>


  </ul>
</div>